meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*
	Color Pallete

	Banner : #1976D2;
	Header Text : #212121;
	Footer : ;
*/

@charset "utf-8";

body {
	background-image: url("../img/geometric_leaves.png");
}



/* In this CSS block
	
	we are targetting the <a> tags present in <li> which must be preset in <nav>, which must be present in <header> tag
*/
header nav li a {
	color: rgb(0,0,0);
	display: inline-block;
}


/* Priority listing of the inline, embeded and external style goes this way:*/
/* inline > embeded > external */

h1, h2, h3, h3 {
	color: rgb(114,169,174);
}

/* 
	to target an HTML element using id , we use "#" followed the value of the id attribute of that element
*/
#container {
	background-color:rgba(114,169,174);
	font color: rgb(184,184,184);
}
#image {
	position: right;
	width: 30%;
	display: inline-block;
}


#footer {
	background-color:rgba(69,69,69);
		width: 100%;
		box-sizing: border-box;
		margin: 0 1%;
		padding: 10px;

}

.col-footer {
		width: 33%;
		display: inline-flex;

}



/* to access a html element using its class, we use "." followed by its class name */
/* All the elements with this class get the styles applied */


#results {
	position: right;
	width: 30%;
	display: none;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);



table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }



/*Loader*/

.overlay-container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: radial-gradient(#a7a7a7, #4e4e4e);
	top: 0;
	z-index: 2;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	animation: spin 2s linear infinite, change-color 4s ease-in-out infinite, border-radius-change 1s ease infinite;
}


@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


@keyframes change-color {
	0% {
		border-top-color: #3498db;
	}
	50% {
		border-top-color: #FF5722;
	}
	100% {
		border-top-color: #3498db;
	}
}

@keyframes border-radius-change {
	0% {
		border-radius: 50%;
	}
	50% {
		border-radius: 0%;
	}
	100% {
		border-radius: 50%;
	}
}